// Breakpoints
$break-small: 600px;
$break-medium: 750px;
$break-large: 1319px;
$break-extra-large: 2000px;

@mixin breakpoint($break) {
  @if $break == 'small' {
    @media (min-width: $break-small) {
      @content;
    }
  } @else if $break == 'medium' {
    @media (min-width: $break-medium) {
      @content;
    }
  } @else if $break == 'large' {
    @media (min-width: $break-large) {
      @content;
    } 
  } @else if $break == 'extra-large' {
    @media (min-width: $break-extra-large) {
      @content;
    } 
  } @else {
    @media ($break) {
      @content;
    }
  }
}